<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Erin’s About Page</title>
    </head>

    <body>
        <h1>This tutorial has been put together by Erin Malarkey: 1105412 </h1>
	<a href='/rango/'>Index</a><br />
	<img src="{% static "images/em.jpg" %}" alt="Picture of me" /><br />
	<br />
        This is Myrtos Beach in Kefalonia! <strong>{{ boldmessage }}</strong><br />
        <img src="{% static "images/myrtos.jpg" %}" alt="Picture of Myrtos" />
    </body>

</html>